@charset "utf-8";

html, body {
	margin: 0;
	height: 100%;
}

a {
	text-decoration: none;
	color: #707070;
}

ul {
	list-style: none;
	margin: 0;
}

h1 {
	margin: 0;
	color: #81A238;
}

/* ヘッダー */
header {
	min-width: 1020px;
	width: 100%;
	height: 50px;
}

header .container {
	position: relative;
	margin-top: 10px;
	height: 50px;
}

header .area_logo_header {
	position: absolute;
	width: 290px;
	height: 42px;
	padding-left: 50px;
}

header .nav_header {
	position: absolute;
	width: auto;
	top: 25px;
	right: 100px;
}

header .nav_header li {
	float: left;
}

header .nav_header li:first-child {
	margin-right: 80px;
}

/* メイン */
/* トップビュー */
.area_top_view img {
	width: 100%;
}

/* 1stセクション 野鳥種類 */
.head_home ul {
	display: flex;
	padding: 0;
}

.head_home li {
	flex: 1;
	background-color: #ADA7A7;
	font-size: 12px;
	text-align: center;
	padding: 5px;
	margin: 0 3px;
}

.head_home a {
	color: #FFFFFF;
}

